body {
    margin: 3em;
}


body {
    /*font-family: 'Chivo', sans-serif;*/
    font-family: 'Karla', sans-serif;
    /*font-family: 'Old Standard TT', serif;*/
    font-size: 15px;
    line-height: 18px;
}

code {
    font-family: 'Cutive Mono', monospace;
    font-size: 13px;
    line-height: 13px;
}

.question {
    font-family: 'Pacifico', cursive;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
}


.widget {
    border: 3px solid black;
    padding: 20px;
    width: 400px;
    float: left;
    margin: 1em;
}

.covers img {
    max-width: 100px;
}

img {
    max-width: 400px;
}
